# Environment variables
.env
.env.local

# Build files
dist/
build/

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Python virtual environment
venv/
.venv/
env/

# IDE / Editor
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log